.col3 { background-color:#EEE; padding:4px 8px; }
#menu ul li.submenu1 { margin-left:22px; }
#menu ul li.submenu2 { margin-left:36px; }
#menu ul li.submenu1 a { padding:1px; }
.idainfobox {border:thin dashed #CCF; background-color: #F6F6FF; padding:4px;}
p.link, a.link {
    background-image: url("/mall11/images/listpil.gif");
    background-position: 3px 0;
    background-repeat: no-repeat;
    margin-bottom: 0.2em;
    padding-left: 20px;
}
table.fileindex {
  width: 90%;
  margin: 0px; 
}

table.fileindex tr:nth-of-type(odd) {
  background-color:#fff;
}

table.default { margin:0; }
table.default td, table.default th { color:inherit; }